{{!
    @template format_buttons/local/content/section/content
    Internal content of a section.
    Example context (json):
    {
        "num": 1,
        "id": 10,
        "header": {
            "name": "Section title",
            "headinglevel": 3
        },
        "summary": {
            "summarytext": "Summary"
        },
        "cmlist": {
            "hascms": true,
            "cms": [
                {
                    "cmitem": {
                        "cmid": 1,
                        "module": "forum",
                        "anchor": "activity-1"
                    }
                }
            ]
        },
        "iscurrent": true,
        "availability": {
            "hasavailability": true
        }
    }
}}

<div id="coursecontentcollapse{{num}}"
     class="content {{^iscoursedisplaymultipage}}
         {{^sitehome}}course-content-item-content collapse {{^contentcollapsed}}show{{/contentcollapsed}}{{/sitehome}}
     {{/iscoursedisplaymultipage}}">
    <div>
        {{#summary}}
            {{$ core_courseformat/local/content/section/summary }}
                {{> core_courseformat/local/content/section/summary }}
            {{/ core_courseformat/local/content/section/summary }}
        {{/summary}}
    </div>
    {{#cmsummary}}
        {{$ core_courseformat/local/content/section/cmsummary }}
            {{> core_courseformat/local/content/section/cmsummary }}
        {{/ core_courseformat/local/content/section/cmsummary }}
    {{/cmsummary}}
    {{#cmlist}}
        {{$ core_courseformat/local/content/section/cmlist }}
            {{> core_courseformat/local/content/section/cmlist }}
        {{/ core_courseformat/local/content/section/cmlist }}
    {{/cmlist}}
    {{{cmcontrols}}}
    {{#insertafter}}
        {{#numsections}}
            {{$ core_courseformat/local/content/addsection}}
                {{> core_courseformat/local/content/addsection}}
            {{/ core_courseformat/local/content/addsection}}
        {{/numsections}}
    {{/insertafter}}
</div>